# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Ansible
*.retry

# macOS
.DS_Store

# Secrets / local files
*.pem
*.key
terraform.tfvars
*.tfvars